@font-face {
    font-family: 'Fontello Icons';
    font-display: block;
    src: url('../fonts/fontello-icons.woff2') format('woff2'),
        url('../fonts/fontello-icons.woff') format('woff'),
        url('../fonts/fontello-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-bluesky:before {
    content: '\e800';
}

.icon-envelope:before {
    content: '\e801';
}

.icon-github:before {
    content: '\e802';
}

.icon-linkedin:before {
    content: '\e803';
}

.icon-mastodon:before {
    content: '\e804';
}

.icon-stack-overflow:before {
    content: '\e805';
}

.icon-x:before {
    content: '\e806';
}

.icon-youtube:before {
    content: '\e807';
}
