@import 'libs/include-media';
@import 'libs/vars';

/*!
    Photo by Daniel Leone on Unsplash
    https://unsplash.com/photos/g30P1zcOzXo
*/

@mixin background($size) {
    #background {
        background-image: url('../images/background-#{$size}.jpg');
    }
}

/* Background */

    #background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #1c5466;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    @include background('1920w');

/* Desktop (Wide) */

    @include media('>=normal', '<=large') {
        @include background('1680w');
    }

/* Desktop */

    @include media('height>=small', '<=normal', 'portrait') {
        @include background('1280h');
    }

    @include media('height>=small', '<=normal', 'portrait', 'retina2x') {
        @include background('1280h@2x');
    }

    @include media('width>=small', '<=normal', 'landscape') {
        @include background('1280w');
    }

    @include media('width>=small', '<=normal', 'landscape', 'retina2x') {
        @include background('1280w@2x');
    }

/* Mobile */

    @include media('height<=small', 'portrait') {
        @include background('736h');
    }

    @include media('height<=small', 'portrait', 'retina2x') {
        @include background('736h@2x');
    }

    @include media('width<=small', 'landscape') {
        @include background('736w');
    }

     @include media('width<=small', 'landscape', 'retina2x') {
        @include background('736w@2x');
    }

/* Mobile (low-res) */

    @include media('height<=xSmall', 'portrait') {
        @include background('480h');
    }

    @include media('height<=xSmall', 'portrait', 'retina2x') {
        @include background('480h@2x');
    }

    @include media('width<=xSmall', 'landscape') {
        @include background('480w');
    }

    @include media('width<=xSmall', 'landscape', 'retina2x') {
        @include background('480h@2x');
    }
